<div class="header-container">
  <!-- Navbar -->
  <nav class="navbar animate-navbar">
    <a class="navbar-brand" href="#">
      <img src="/assets/major.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      <span>JLeague</span>
    </a>
  </nav>

  <!-- Jumbotron -->
  <div class="jumbotron w-75 mx-auto animate-jumbotron">
    <p>JLeague</p>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
    <a class="btn btn-warning btn-lg" href="#" role="button">Lorem, ipsum.</a>
  </div>

  <!-- Socials -->
  <div class="socials-container animate-socials">
    <div class="scroll">
      <i class="fas fa-angle-down scroll-arrow"></i>
      <p>Scroll Down</p>
    </div>
    <div class="socials">
      <i class="fab fa-instagram fa-2x"></i>
      <i class="fab fa-linkedin-in fa-2x"></i>
      <i class="fab fa-whatsapp fa-2x"></i>
    </div>
  </div>
</div>
