<footer class="footer-container text-white  container-fluid">
  <div class="container py-4">

    <div class="row align-items-center">
      <aside class="col-12 col-md-2 mb-4 mb-md-0 text-center text-md-start">
        <img src="assets/major.svg" alt="Logo" width="60" height="60" class="img-fluid">
      </aside>

      <div class="col-12 col-md-10 text-center text-md-start">
        <h1 class="h5 mb-4">
          Lorem ipsum dolor sit amet consectetur.
        </h1>

        <div class="row">
          <div class="col-6 text-center text-md-start mb-3 mb-md-0">
            <h5>Socials</h5>
            <div class="d-flex flex-column gap-2 align-items-center align-items-md-start">
              <a href="#" class="text-white fs-6">Lorem. <i class="bi bi-facebook"></i></a>
              <a href="#" class="text-white fs-6">Lorem. <i class="bi bi-twitter"></i></a>
              <a href="#" class="text-white fs-6">Lorem. <i class="bi bi-instagram"></i></a>
              <a href="#" class="text-white fs-6">Lorem. <i class="bi bi-github"></i></a>
            </div>
          </div>

          <div class="col-6 text-center text-md-start">
            <h5>Menú</h5>
            <ul class="list-unstyled mb-0">
              <li><a href="#" class="text-white text-decoration-none">Inicio</a></li>
              <li><a href="#" class="text-white text-decoration-none">Noticias</a></li>
              <li><a href="#" class="text-white text-decoration-none">Equipos</a></li>
              <li><a href="#" class="text-white text-decoration-none">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-secondary text-white text-center py-3">
    <p class="mb-0">Contáctame al correo: <a href="mailto:contacto@ejemplo.com" class="text-white text-decoration-underline">contacto&#64;ejemplo.com</a></p>
  </div>


  <div class="container">
    <hr class="border-light mt-4" />
    <div class="text-center p-3">
      <p class="mb-0">&copy; 2025 Tu Empresa. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
