<!-- HTML: Tabla “Summer Tournament” con tamaño reducido en desktop -->
<div class="container-fluid p-3 main">
  <div class="row justify-content-start">
    <div class="col-12 col-sm-8 col-lg-6 mx-auto text-center">
      <span class="center">Table</span>
      <h2 class="tittle pb-3 fade-in-up fade-in-delay">Summer Tournament</h2>

      <div class="table-responsive small-table">
        <table class="table table-bordered fade-in-up">
          <thead>
            <tr>
              <th colspan="5" class="text-center table__tittle">Team Standing</th>
            </tr>
            <tr class="table-secondary">
              <th scope="col">Pos</th>
              <th scope="col">Team</th>
              <th scope="col">W</th>
              <th scope="col">L</th>
              <th scope="col">GB</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="color">1</th>
              <td class="text-center">
                <img src="assets/mets.png" width="20" height="20" class="me-1" alt="Boston"> Boston
              </td>
              <td>6</td>
              <td>1</td>
              <td>-</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td class="text-center">
                <img src="assets/mets.png" width="20" height="20" class="me-1" alt="Yankees"> Yankees
              </td>
              <td>5</td>
              <td>2</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td class="text-center">
                <img src="assets/mets.png" width="20" height="20" class="me-1" alt="Dodgers"> Dodgers
              </td>
              <td>4</td>
              <td>3</td>
              <td>2</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td class="text-center">
                <img src="assets/mets.png" width="20" height="20" class="me-1" alt="Cubs"> Cubs
              </td>
              <td>3</td>
              <td>4</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td class="text-center">
                <img src="assets/mets.png" width="20" height="20" class="me-1" alt="Giants"> Giants
              </td>
              <td>2</td>
              <td>5</td>
              <td>4</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td class="text-center">
                <img src="assets/mets.png" width="20" height="20" class="me-1" alt="Astros"> Astros
              </td>
              <td>1</td>
              <td>6</td>
              <td>5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
