<div class="container-fluid py-5 main">
  <h2 class="text-center mb-5 tittle">Our Services</h2>

  <div class="row justify-content-center g-4">

    <!-- Servicio 1 -->
    <div class="col-12 col-sm-6 col-lg">
      <a href="#" class="card h-100 text-center d-block">
        <img src="assets/stats.svg" class="mx-auto d-block img-fluid" alt="Diseño Web">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </a>
    </div>

    <!-- Servicio 2 -->
    <div class="col-12 col-sm-6 col-lg">
      <a href="#" class="card h-100 text-center d-block">
        <img src="assets/stats.svg" class="mx-auto d-block img-fluid" alt="Marketing Digital">
        <div class="card-body">
          <h5 class="card-title">Dolor Sit Amet</h5>
          <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </a>
    </div>

        <div class="col-12 col-sm-6 col-lg">
      <a href="#" class="card h-100 text-center d-block">
        <img src="assets/stats.svg" class="mx-auto d-block img-fluid" alt="Marketing Digital">
        <div class="card-body">
          <h5 class="card-title">Dolor Sit Amet</h5>
          <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </a>
    </div>

    <!-- Servicio 3 -->
    <div class="col-12 col-sm-6 col-lg">
      <a href="#" class="card h-100 text-center d-block">
        <img src="assets/stats.svg" class="mx-auto d-block img-fluid" alt="SEO y Analítica">
        <div class="card-body">
          <h5 class="card-title">Consectetur</h5>
          <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </a>
    </div>

  </div>
</div>
