<div class="container-fluid py-5 services-container">
  <h2 class="text-center mb-4 tittle">Our Services</h2>
  <div class="row justify-content-center g-3">

    <div class="col-6 col-sm-4 col-md-3">
      <a href="#" class="card small-card text-center d-block mx-auto">
        <img src="assets/stats.svg" class="card-img-small mx-auto d-block" alt="Diseño Web">
        <div class="card-body small-body">
          <h5 class="card-title small-title">Lorem Ipsum</h5>
          <p class="card-text small-text">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </a>
    </div>

    <div class="col-6 col-sm-4 col-md-3">
      <a href="#" class="card small-card text-center d-block mx-auto">
        <img src="assets/stats.svg" class="card-img-small mx-auto d-block" alt="Marketing Digital">
        <div class="card-body small-body">
          <h5 class="card-title small-title">Dolor Sit Amet</h5>
          <p class="card-text small-text">Ut enim ad minim veniam, quis nostrud.</p>
        </div>
      </a>
    </div>

    <div class="col-6 col-sm-4 col-md-3">
      <a href="#" class="card small-card text-center d-block mx-auto">
        <img src="assets/stats.svg" class="card-img-small mx-auto d-block" alt="SEO y Analítica">
        <div class="card-body small-body">
          <h5 class="card-title small-title">Consectetur</h5>
          <p class="card-text small-text">Duis aute irure dolor in reprehenderit.</p>
        </div>
      </a>
    </div>

    <div class="col-6 col-sm-4 col-md-3">
      <a href="#" class="card small-card text-center d-block mx-auto">
        <img src="assets/stats.svg" class="card-img-small mx-auto d-block" alt="Análisis">
        <div class="card-body small-body">
          <h5 class="card-title small-title">Analítica</h5>
          <p class="card-text small-text">Excepteur sint occaecat cupidatat non.</p>
        </div>
      </a>
    </div>

  </div>
</div>
