<div class="container">
  <p>aside-bar works!</p>

  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/dashboard']">My Dashboard</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/dashboard/mis-torneos']">Mis Torneos</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/dashboard/jugadores']">Jugadores</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/dashboard/equipos']">Equipos</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/dashboard/mi-equipo']">Mi Equipo</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/dashboard/settings']">Settings</a>
    </li>
  </ul>
</div>