.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  left: -250px;
  height: 100dvh;
  width: 250px;
  transition: left 0.3s ease-in-out;
  z-index: 1050;
  overflow: auto;
}

.sidenav.sidenav-open {
  left: 0;
}

.sidenav-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

@media (min-width: 768px) {
  .sidenav {
    position: relative !important;
    left: 0 !important;
    height: 100vh;
  }

  .dashboard-container {
    display: flex;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}