<div class="container">
  <p>aside-bar works!</p>

  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/dashboard']">My Dashboard</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/dashboard/my-tournaments']">My Tournaments</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/dashboard/players']">Players</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/dashboard/teams']">Teams</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/dashboard/my-team']">My Team</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/dashboard/settings']">Settings</a>
    </li>
  </ul>
</div>