<div class="container-fluid p-5 fade-in main text-center">
  <span>Lorem, ipsum.</span>
  <h2 class="text-center mb-4">Partners & Clients</h2>

  <div class="row g-3">
    <!-- Card -->
    <div class="col-6 col-sm-4 col-lg-3">
      <a href="#" target="_blank" class="text-decoration-none">
        <div class="card partner-card">
          <img src="assets/airbnb.svg" alt="Cliente 1" class="img-fluid partner-logo mx-auto">
        </div>
      </a>
    </div>

    <!-- Repite los otros cards -->
    <div class="col-6 col-sm-4 col-lg-3">
      <a href="#" target="_blank" class="text-decoration-none">
        <div class="card partner-card">
          <img src="assets/apple.svg" alt="Cliente 2" class="img-fluid partner-logo mx-auto">
        </div>
      </a>
    </div>

    <div class="col-6 col-sm-4 col-lg-3">
      <a href="#" target="_blank" class="text-decoration-none">
        <div class="card partner-card">
          <img src="assets/cocacola.svg" alt="Cliente 3" class="img-fluid partner-logo mx-auto">
        </div>
      </a>
    </div>

    <div class="col-6 col-sm-4 col-lg-3">
      <a href="#" target="_blank" class="text-decoration-none">
        <div class="card partner-card">
          <img src="assets/dell.svg" alt="Cliente 4" class="img-fluid partner-logo mx-auto">
        </div>
      </a>
    </div>

    <div class="col-6 col-sm-4 col-lg-3">
      <a href="#" target="_blank" class="text-decoration-none">
        <div class="card partner-card">
          <img src="assets/dropbox.svg" alt="Cliente 5" class="img-fluid partner-logo mx-auto">
        </div>
      </a>
    </div>

    <div class="col-6 col-sm-4 col-lg-3">
      <a href="#" target="_blank" class="text-decoration-none">
        <div class="card partner-card">
          <img src="assets/kia.svg" alt="Cliente 6" class="img-fluid partner-logo mx-auto">
        </div>
      </a>
    </div>
  </div>
</div>
