.video-largo {
  height: 300px;
  object-fit: cover;
}


 .fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

a.text-decoration-none:hover {
  text-decoration: none;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:active {
  transform: scale(0.98);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
