
<div class="container-fluid p-5 fade-in">
<p class="text-center mb-1">Basseball Reports</p>
<h1 class="text-center mb-3 mt-0">Video News</h1>


  <div class="row g-4">

    <div class="col-12 col-sm-6 col-lg-4">
      <a href="/videos/tatis-defensiva-2024" class="text-decoration-none text-dark">
        <div class="card h-100">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/o7MwbyRPo28"
              title="Fernando Tatis Jr. - Defensive Plays - 2024 Highlights" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title">Fernando Tatis Jr - Defensiva 2024</h5>
            <p class="card-text">Resumen de las mejores jugadas defensivas en la temporada 2024.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-lg-4">
      <a href="/videos/tatis-2024" class="text-decoration-none text-dark">
        <div class="card h-100">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/ro82ykrkbbw"
              title="Fernando Tatis Jr. 2024 MLB Highlights" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title">Resumen Temporada 2024</h5>
            <p class="card-text">Mejores momentos ofensivos y defensivos de Tatis Jr. en 2024.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-lg-4">
      <a href="/videos/tatis-2023" class="text-decoration-none text-dark">
        <div class="card h-100">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/6hsbMFbmNtQ"
              title="Fernando Tatis Jr 2023 MLB Highlights" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title">Temporada 2023</h5>
            <p class="card-text">Un vistazo a las mejores jugadas de Tatis Jr. en la campaña 2023.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
